.vl {
    border-left: 1px solid;
    height: 1025px; 
  }

.port {
  position: absolute; 
  left: 225px; 
  top: 0px; 
}

.port-line {
  padding: .2px;
  color: black; 
  background:black; 
  width: 800px; 
  overflow: hidden 
}

.cards {
  position: absolute; 
  left: 225px; 
  top: 100px; 
  background: white; 
}

.Portfolio {
  font-family: 'Oswald', sans-serif;
}

.links {
  width: 16%
}

a.opt:hover {
  color: white; 
  background: #D9D9D9;
  width: 16%
}

a.opt {
  width: 16%
}

a.icon:hover  {
  color: grey; 
}
